body {
    /* Teksti */
    color: #f5f5f5;

    /* Tausta */
    background-color: #121212;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* Sivuston rakenteen ruudukkomalli. Koko sisältö nyt yhden ruudukon sisällä*/
.grid-container {
  display: grid;
  grid-template-columns: 140px 35px auto auto;
  gap: 10px;
  padding: 10px;
}
.logoCell {
  grid-column-start: 1;
  grid-column-end: 1;
}
.navigation {
  grid-column-start: 2;
  grid-column-end: 4;
}
.imageCell {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.content {
  grid-column-start: 3;
  grid-column-end: 4;
  border: 5px solid #00BFFF;
  padding: 20px;
  background-color: #242424;
}

/* Navigointipainikkeiden ulkonäkö */
.button1 {
  display: inline-block;
  padding: 12px 24px;  
  vertical-align: top;
  background-color: #00BFFF;
  color: #f5f5f5;
  text-decoration: none;
  border-radius: 6px;
  font-size: 40px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button1:hover {
  background-color: #13ED20;
}   

    /* Tilaa nyt painikkeen ulkonäkö*/
.button2 {
  display: inline-block;
  padding: 12px 24px;
  background-color: #13ED20;
  color: #f5f5f5;
  text-decoration: none;
  border-radius: 6px;
  font-size: 40px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button2:hover {
  background-color: #00BFFF;
}
.displayImage2 {
  display: none;
}

/*@media -sääntö vaikuttaa vain kun näytön leveys on alle tietty määrä pikseleitä.
  Toisin sanoen @median sisällä voi korvata elementtien ulkonäköä MOBIILINÄYTTÖÖN */
@media only screen and (max-width: 868px) {
  /*Tässä muutetaan valikkonappuloiden ulkonäkö muutumaan pienenevän näytön mukana.
    Nappulat ovat päällekäin, ja jatkuvat näytön oikeaan laitaan.
    Hover poistettu, sillä kosketusnäytöllä ei voi leijuttaa*/
  .button1 {
    display: inline-block;
    padding: 12px 24px; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: #00BFFF;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  /*TIlaa nyt nyt -nappulan ulkonäkö mobiilikoossa (pienempi fontti)*/
  .button2 {
    display: inline-block;
    padding: 12px 24px;
    background-color: #13ED20;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  .grid-container {
  display: grid;
  grid-template-columns: 140px auto;
  gap: 4px;
  padding: 4px;
  }
  .logoCell {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .navigation {
    grid-column-start: 2;
  }
  .content {
    grid-column-start: 1;
    border: 5px solid #00BFFF;
    padding: 20px;
    background-color: #242424;
  }
  .imageCell {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .displayImage1 {
    display: none;
  }
  .displayImage2 {
    display: block;
  }
}